@keyframes twinkle {
  25% {
    opacity: 0;
  }
}
.star {
  fill: white;
  animation: twinkle 2s infinite;
}
.star:nth-child(3n) {
  opacity: 0.8;
}
.star:nth-child(7n) {
  opacity: 0.6;
}
.star:nth-child(13n) {
  opacity: 0.4;
}
.star:nth-child(19n) {
  opacity: 0.2;
}
.Dream-img {
  position: fixed;
  bottom: 40px;
  right: 60px;
  transform: translate(80%, 0);
  transition: transform 1s ease, opacity 2s ease;
}
.Dream-img .Dream-content {
  transform: opacity 2s ease;
  opacity: 0;
}
.Dream-img:hover {
  transition: transform 1s ease,
        opacity 2s ease;
  transform: translate(80%, 0) rotate(-30deg);
}
.Dream-img:hover .Dream-content {
  transform: opacity 2s ease;
  opacity: 1;
}
.Dream-img:hover ~ img {
  transform: rotate(-30deg);
  transition: transform 1s ease;
}
.Dream-img img {
  display: block;
  height: 35vh;
  transition: transform 1s ease;
  transform: translate(40px, 0) rotate(-30deg);
}
.Dream-content {
  position: relative;
  left: 50%;
  transform: translateX(-50%) rotate(30deg);
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 4px 8px;
}
.Dream-content p {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
}
