@Prefix :~"blog-words-recite-item";

.@{Prefix}-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: 600px) {
        padding-left: 10px;
        padding-right: 10px;
        /* 在这里添加你想要在小屏幕上显示的样式 */
    }

    justify-content: space-around;

    button:first-child {
        button:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }

        width: 30px;
        height: 30px;
        border-radius: 2px;
        border-style: none;
        background-color: rgba(0, 0, 0, 0.9);

    }

    buttonLast {
        button:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }

        height: 30px;
        color: white;
        background-color: rgba(0, 0, 0, 0.9);
        cursor: pointer;
        border-radius: 2px;
        border-style: none;
    }

}